* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 20px 0 20px;
    color: black;
    font-family: Roboto, Arial;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 8px;
}
a:hover {
    border-radius: 20px;
    background-color: rgb(211, 230, 0);
    transition: 0.2s;
    color: rgb(255, 255, 255);
}
.anchor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*styling for the Navbar*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);
    height: 60px;
    background-color: rgb(211, 230, 0);
    align-items: center;
    z-index: 100;
}
.logo {
    font-family: wheat, plato, "Curlz MT", cursive, "Comic Sans MS";
    font-weight: bold;
    letter-spacing: 5px;
    font-size: xx-large;
    align-items: center;
}


/* styling for the first page of the website begins here*/
header {
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 200%), url(/images/HeaderWP.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 5px;
    background: rgb(211, 230, 0);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 50px;
}
a.ctn {
    padding: 8px 15px;
    background: rgb(211, 230, 0);
    border-radius: 30px;
    color: black;
}
.ctn:hover {
    background-color: rgb(248, 255, 166);
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

/* styling for the second page of the second page of the website begins here*/

section {
    margin-top: 50px;
    padding: 60px;
}
.second-head {
   text-align: center;
   margin-bottom: 50px;
}


/*styling for the first image on the left, which is the river image*/
.second-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.river-side {
    border-radius: 15px;
    box-shadow: 0 0 20px gray;
    
    text-align: center;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
.river-side:hover {
    transform: scale(1.01, 1.01);
    transition: 0.25s;
}
.image {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.river-side-details {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.river-side h2 {
    color: green;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmin;
}
button {
    background-color: rgb(211, 230, 0);
    width: 150px;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover {
    box-shadow: 0 0 4px black;
}


/* styling for the second image, which is on the right of this page.*/

.mountain-side {
    border-radius: 15px;
    box-shadow: 0 0 20px gray;
    
    text-align: center;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
.mountain-side:hover {
    transform: scale(1.01, 1.01);
    transition: 0.25s;
}
.mountain-side-details {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mountain-side h2 {
    color: green;
}

/*styling for the third page of the website begins here */

.third-section {
    height: 100vh;
    width: 100vw;
    display: grid;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 200%), url(/images/ExploreWP.png);
    background-position: center;
    background-size: cover;
}
.third-section-bg {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
.explore-with-us {
    color: rgb(255, 255, 255);
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    padding-left: 50px;
    width: 40%;
    font-size: 2vw;
    font-family: sans-serif;
    border-right: 5px solid rgb(211, 230, 0);
    border-radius: 5px;
}
.explore-with-us span {
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*styling for the fourth page of the website begins here*/

.last-section {
    margin-top: 20px;
    padding: 50px;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
}
.join-btn {
    width: 150px;
}
.join-btn:hover {
    background-color: rgb(248, 255, 166);
}
.left-column {
    margin-top: 50px;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right-column {
    margin-top: 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.pics {
    width: 100%;
}
.pics:hover {
    transform: scale(1.01, 1.01);
    transition: 0.25s;
}

/*styling for the footer part of the website*/
footer {
    margin-top: 70px;
    height: 20vh;
    background-color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer span {
    color: white;
}

/* Responsiveness for mobile devices for header part*/

@media screen and (max-width:800px) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: 30vh;
        position: relative;
    }
    .anchor {
        display: flex;
        flex-direction: column;
    }
    header {
       margin: 0;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .third-section {
        display: grid;
        margin-top: 100px;
    }
    .last-section {
        display: flex;
        flex-direction: column;
    }
}